*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Style Nav Bar */
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

}

/* Style Group Logo */
nav img{
  width: 150px;
  background-image: ghostwhite;
}

/* Style Nav Bar */
.nav-links{
  flex: 1;
  text-align: right; 
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: darkblue;
  text-decoration: none;
  font-size: 13px;

}

/* Style Nav Bar Underline */
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: darkblue;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 23%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 5px 16px;
}

/*Centering the image */
img {
  display: block;
  margin: 0 auto;
}

div.card {
  text-align: center;
}

/* ------------------------------------------------- */
/* Format the logos of the image containers */
.column1 {
  float: right;
  width: 30%;
  padding: 5px;
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}

/* Align the header to center */
h1 {
  text-align: center;
}