*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}


/* Style Nav Bar */
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

}

/* Style Group Logo */
nav img{
  width: 150px;
  background-image: ghostwhite;
}

/* Style Nav Bar */
.nav-links{
  flex: 1;
  text-align: right; 
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: darkblue;
  text-decoration: none;
  font-size: 13px;

}

/* Style Nav Bar Underline */
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: darkblue;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

/* Style Twitter List Feed */
.twitterborder{
  margin:auto;
  width:500px;    
}

